<div class="content-wrapper">
  <div class="design">
    <%= image_tag 'layouts/design2.png', class: "body1" %>
  </div>
  <div class="except-design">
    <div class="recent-posts">
      <h3>最近の投稿</h3>
      <div class="post-wrapper">
        <div class="post-contents">
          <% @articles.each do |article|%>
            <div class="post-content">
              <%= link_to article_path(article.id), class: "post-a" do %>
                <% if article.image.present? %>
                <div class="article-img-content">
                  <%= image_tag article.image, class: "article-image"%>
                </div>

                <% end%>
                <div class="article-title">
                  <%= article.title %>
                </div>
              <% end%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="teachers">
      <h3>Teacher一覧</h3>
      <div class="teachers-wrapper">
        <div class="each-teachers">

        <% @teachers.each do |teacher|%>
            <div class="teacher-content">
              <%= link_to teachers_show_path(teacher.id), class: "teacher-a" do %>
                <% if teacher.image.attached? %>
                <div class="teacher-img-content">
                  <%= image_tag teacher.image, class: "teacher-image"%>
                </div>

                <% end%>
                <div class="introduce-teacher">
                  <div class="teacher-nickname">
                    <%= teacher.nickname %>
                  </div>

                  <div class="teacher-conten">
                    <p></p>
                    <div class="detail">
                      <%= teacher.teach_content %>
                    </div>
                  </div>
                </div>
              <% end%>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>