<div class="container">
  <h2>新規投稿を追加</h2>


  <%= form_with model: @article, local: true do |form| %>
    <div class="field">
      <%= form.text_field :title, placeholder: "タイトルを入力してください", class: "title"%>
    </div>

    <label class="form-image">
      <span class="select-image">メディアを追加</span>
      <%= form.file_field :image, class:"article-image" %>
    </label>

    <label class="form-category">
    <span class="select-category">カテゴリーを選択</span>
    <%= form.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"article-category"}) %>
    </label>

    <!-- 2019/10/19 Add S -->
    <div class="field">
      <%= form.label :content, class: "content-label"%>
      <%= form.rich_text_area :content, class: "content-field" %>
    </div>
    <!-- 2019/10/19 Add E -->
    <%= form.submit "投稿する" ,class:"submit" %>
  <% end%>
</div>