<div id="header">
  <div class="left-side">
    <div class="k">
      <%= link_to image_tag('blogru1.png'),root_path, class: "logo" %>
    </div>
    <div class="link">
      <ul class="menu">
      <% if user_signed_in? %>
        <li class="item">
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
        </li>
        <li class="item">
          <%= link_to '投稿する', new_article_path, class: "post-content"%>
        </li>
        <li class="item">
          <%= link_to 'tutorial一覧', tutorials_path, class: "tutorial-contents"%>
        </li>
        <% elsif current_admin %>
        <li class="item">
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
        </li>
        <li class="item">
          <%= link_to 'tutorial一覧', tutorials_path, class: "tutorial-contents"%>
        </li>
        <li class="item">
          <%= link_to 'tips一覧', "#", class: "tips-contents"%>
        </li>

        <% else %>
        <li class="item">
          <%= link_to '新規登録', new_user_registration_path, class: "sign-up"%>
        </li>
        <li class="item">
          <%= link_to 'ログイン', new_user_session_path, class: "sign-in"%>
        </li>
        <% end%>
      </ul>
    </div>
  </div>
  <div class="right-side">
    <div class="search-window">
    </div>
    <div class="aicom">
    <% if user_signed_in? %>
      <%= link_to profile_path(current_user.profile.id) do %>
      <%= image_tag current_user.profile.image, class: "user-image"%>
    <% end%>

      <% end%>
    </div>
  </div>
</div>