<div id="header">
  <div class="left-side">
    <div class="k">
      <%= link_to image_tag('blogru1.png'),root_path, class: "logo" %>
    </div>
    <div class="link">
      <ul class="menu">
      <% if user_signed_in? %>
        <li class="item">
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
        </li>
        <li class="item">
          <%= link_to '投稿する', new_article_path, class: "post-content"%>
        </li>
        <li class="item">
          <%= link_to 'tutorial一覧', tutorials_path, class: "tutorial-contents"%>
        </li>
        <% if current_user.profile.blank?%>
        <li class="item">
          <%= link_to 'プロフィールを作成する', new_profile_path%>
        </li>

        <% end%>

        


        <% elsif current_admin %>
        <li class="item">
          <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "logout" %>
        </li>
        <li class="item">
          <%= link_to 'tutorial一覧', tutorials_path, class: "tutorial-contents"%>
        </li>
        <li class="item">
          <%= link_to 'tips一覧', tips_path, class: "tips-contents"%>
        </li>
        <% elsif current_teacher %>

        <li class="item">
          <%= link_to 'tips一覧', tips_path, class: "tips-contents"%>
        </li>

        <% else %>
        <li class="item">
          <%= link_to '新規登録', new_user_registration_path, class: "sign-up"%>
        </li>
        <li class="item">
          <%= link_to 'ログイン', new_user_session_path, class: "sign-in"%>
        </li>
        <li class="item">
          <%= link_to 'Teacherログイン', new_teacher_session_path, class: "teacher-sign-in"%>
        </li>
        <% end%>
      </ul>
    </div>
  </div>
  <div class="right-side">
    <% if current_user %>
    <div class="noti">
    <div class="noti2">
        <% if unchecked_notifications.any? %>
            <i class="fas fa-circle"></i>
        <% end %>
        <div class="item">
            <%= link_to notifications_path do %>
            <i class="far fa-bell"></i>
            <% end%>
        </div>
    </div>
    </div>
    <% end%>
    <div class="aicon">
      <% if user_signed_in? %>
        <% if current_user.profile.present? && current_user.profile.image.present?%>
        <%= link_to profile_path(current_user.profile.id) do %>
        <%= image_tag current_user.profile.image, class: "user-image"%>
        <% end%>
        <%end%>
      <% elsif teacher_signed_in? %>
        <%= link_to teachers_show_path(id: current_teacher.id) do %>
        <%  if current_teacher.image.attached? %>
        <%= image_tag current_teacher.image, class: "teacher-img"%>
        <% else%>
        <div class="fake-aicon"></div>
        <%end%>
        <% end%>
      <% end%>
    </div>
  </div>
</div>