<div class="background">
<div class="container">
  <% if current_admin%>
  <div class="bottun-area">
    <%= link_to '投稿する', new_tutorial_path, class: 'tutorial-post'%>
  </div>
  <% end%>
  <h3 class="seo">SEOの学習教材</h3>
  <div class="seo-contents">
    <div class="contents">
      <% if @seo_tutorials.present?%>
        <% @seo_tutorials.each do |seo|%>
        <div class="content">
          <%= link_to tutorial_path(seo.id), class: 'seo-a' do %>
            <% if seo.image.present? %>
            <div class="seo-img-content">
              <%= image_tag seo.image, class: "seo-image"%>
            </div>
            <% else%>
            <div class="fake-image">
            </div>
            <% end%>

            <div class="seo-title">
              <%= seo.title %>
            </div>
          <% end%>
        </div>
        <%end%>
      <%end%>
    </div>
  </div>
  <h3 class="copy">コピーライティングの学習教材</h3>
  <div class="copy-contents">
    <div class="contents">
    <% if @copy_tutorials.present?%>
      <% @copy_tutorials.each do |copy|%>
      <div class="content">
        <%= link_to tutorial_path(copy.id), class: 'copy-a' do %>
        <% if copy.image.present? %>
        <div class="copy-img-content">
          <%= image_tag copy.image, class: "copy-image"%>
        </div>
        <% else%>
            <div class="fake-image">
            </div>
        <% end%>

        <div class="copy-title">
          <%= copy.title %>
        </div>
        <% end%>
      </div>
      <%end%>
    <%end%>
  </div>
</div>

</div>