<div class="container">
<div class="tutorial-container">
  <h2>
    <%= @tutorial.title %>
  </h2>
  <% if @tutorial.image.present? %>
    <div class="samune">
      <%= image_tag @tutorial.image, class: "tutorial-image"%>
    </div>
  <% end%>
  <div class="tutorial-content">
    <%= @tutorial.content %>
  </div>
</div>

<% if current_admin%>

  <div class="button-container">
    <%= link_to '編集する', edit_tutorial_path(@tutorial.id), class: 'tutorial-edit'%>
    <%= link_to '削除', tutorial_path(@tutorial.id), method: :delete, class:'tutorial-destroy' %>
  </div>

  <% end%>
  
</div>