<div class="container">
  <% if @teacher.image.present? %>
    <div class="image-container">
      <%= image_tag @teacher.image, class: "teacher-image"%>

      <h3>
        <%= @teacher.nickname %>
      </h3>
    </div>
  <% else%>
    <div class="image-container">
      <div class="fake-image"></div>

      <h3>
        <%= @teacher.nickname %>
      </h3>
    </div>
  <% end%>

  
  <div class="introduce-container">
    <div class="introduce">
      <p>自己紹介</p>

      <div id="teacher-rate">
      <div id="star<%= @teacher.id%>"></div>    
        <script>
          $('#star<%= @teacher.id%>').raty({
            size      : 36,
            starOff   : '<%= asset_path('star-off.png') %>',
            starOn    : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half      : true,
            readOnly: true,
            score: <%= @teacher.teacher_evaluations.average(:rate).to_f.round(2) %>,
          });
        </script>
      </div>


      <div class="block">
        <p>教えられる内容</p>
        <div>
        <%= @teacher.teach_content %>
        </div>
      </div>

      <div class="block">
        <p>教えられる内容の詳細</p>
        <div>
        <%= @teacher.teach_content %>
        </div>
      </div>

      <div class="block">
        <p>経歴</p>
        <div>
        <%= @teacher.teacher_history %>
        </div>
      </div>

      <div class="block">
        <p>月額</p>
        <div>
        <%= @teacher.plan.name%>円
        </div>
      </div>

      <% if current_teacher == @teacher%>
      <div class="block">
        <p>1ヶ月の収益</p>
        <div>
        <%= @profit    %>円
        </div>
      </div>
      <% end%>

      <div class="h2">
        <p>このTeacherのレビュー</p>
      </div>

      <div class="reviews">
        <% @teacher_evaluations.each do |evaluation|%>

          <div class="content">
            
            <div id="star-rate<%= evaluation.id%>"></div>    
            <p>評価 : <%= evaluation.rate%>点</p>
            <p>内容 : <%= evaluation.review%></p>
            
            <script>
              $('#star-rate<%= evaluation.id%>').raty({
                size      : 36,
                starOff   : '<%= asset_path('star-off.png') %>',
                starOn    : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half      : true,
                readOnly: true,
                score: <%= evaluation.rate %>,
              });
            </script>
          </div>
        <% end %>
      </div>

      <div class="field">
        <%if current_user %>
          <%until current_user.orders.find_by(teacher_id: @teacher.id)%>
            <div>
              <%= link_to 'このTeacherと契約する', teacher_orders_path(@teacher.id), class: 'keiyaku'%>
            </div>
          <% end %>
        <% end %>

        <div>
          <%if current_teacher == @teacher%>
            <%= link_to 'ログアウト', destroy_teacher_session_path, method: :delete, class: "logout" %>
          <% end%>
          <% if current_teacher%>
          <% if current_teacher.id == @teacher.id %>
          <%= link_to '編集する', edit_teacher_registration_path(@teacher.id), class: 'teacher-edit'%>
          <% end%>
          <% end%>

          <% unless current_teacher == @teacher %>
          <%= link_to '評価する', new_teacher_teacher_evaluation_path(@teacher.id), class: 'teacher-evaluation'%>
          <%end%>
        </div>
      </div>

    </div>

  


  </div>
</div>